# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md

# Images
!メニュー1-1.rpgmvp
!メニュー1-2.rpgmvp
!メニュー2-1.rpgmvp
!メニュー2-2.rpgmvp
!メニュー3-1.rpgmvp
!メニュー3-2.rpgmvp
!メニュー4-1.rpgmvp
!メニュー4-2.rpgmvp
!メニュー5-1.rpgmvp
!メニュー5-2.rpgmvp
!メニュー6-1.rpgmvp
!メニュー6-2.rpgmvp
!メニュー7-1.rpgmvp
!メニュー7-2.rpgmvp
!メニュー8-1.rpgmvp
!メニュー8-2.rpgmvp